* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --component-color: #f4d160;
  --component-color-hover: #e9c85b;
  --component-color-active: #daba54;
  --component-border-color: rgb(156, 135, 63);

  --component-input-inner-padding: 8px;
  --component-border-radius: 20px;
  --search-bar-height: 60px;

  --box-shadow-navbar-outline-border: 0 0 1px 1px var(--component-border-color);
  --box-shadow-navbar-outline-smooth: 0 0 2pt 1px var(--component-border-color);
  --box-shadow-navbar-outline-hard: 0 0 3pt 1px var(--component-border-color);

  --box-shadow-outline-color: black;
  --box-shadow-outline-border: 0 0 1px 1px var(--box-shadow-outline-color);
  --box-shadow-outline-smooth: 0 0 2pt 1px var(--box-shadow-outline-color);
  --box-shadow-outline-hard: 0 0 3pt 1px var(--box-shadow-outline-color);
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.separator {
  height: 2px;
  border-radius: 1px;
  width: 100%;
  background-color: rgb(230, 230, 230);
  justify-self: center;
}
